# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Donnees (trop volumineuses pour Git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Modeles & resultats
models/*.joblib
models/*.pkl
results/*

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
